.chatbot-prompt .chatbot-btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 40px;
    padding: 15px 20px;
    border: none;
    background-color: #007ED9;
    display: flex;
    align-items: center;
}
.chatbot-btn span{
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
    color: #ffffff;
}
.chatbot-btn i{
    color: #ffffff;
}
.msgWindow{
    display: block;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 16px rgba(0,0,0,.25);
    background-color: #eaeef3;
    padding-bottom: 10px;
    height: calc(100vh - 40px);
    position: fixed;
    width: 97.5%;
    right: 20px;
    top: 20px;
    left: 20px;
    bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;

    .card-header{
        background-color: #007ED9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        box-shadow: 0 9.5px 12.7px rgba(0,0,0,.05);

        .q-left{
            display: inline-flex;
            align-items: center;
        }

       
        .q-title{
            color: #ffffff;
            padding-left:1rem ;
            font-weight: 600;
            font-size: 22px;
            margin-bottom: 5px;
        }
    }

    .input-field{
        width: 100%;
        background-color: #ffffff;
        padding: 7px 10px;
        bottom: 10px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;

        input{
            width: 96%;
            border: none;
            outline: none;
            color: #969ba6;
        }
    }
    .fa-paper-plane{
        color: #007ED9;
        margin-left: 16px;
    }
}
.q-conversation{
    padding: 20px;
}

.q-project-list thead tr
{
    background: #0000000d;
}
.q-project-list tbody tr
{
background-color: #fff;
}
.fa-circle-q,
.fa-xmark {
    color: #ffffff;
}
@media (min-width: 1200px){
.container
{
    max-width: 100%;
    background-color: #363f4b;
    color: #ffffff;
}
}

#message-section::-webkit-scrollbar {
    width: 10px;
}

#message-section {
    height: 33.5vw;
    padding: 0 2.5vw;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

#message-section::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

#message-section::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

#message-section .user {
    border-radius: 1.5vw 0vw 1.5vw 1.8vw;
    float: right !important;
}

#message-section .bot,
#message-section .user {
    position: relative;
    bottom: 0;
    min-height: 1.5vw;
    background-color: #fff;
    border-radius: 0px 1.5vw 1.5vw 1.8vw;
    padding: 1vw;
    margin: 1.5vw 0;
}



#message-section .user .user-response {
    color: #fff;
}

#message-section .message {
    color: #000;
    clear: both;
    line-height: 1.2vw;
    font-size: 1.2vw;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
    z-index: 2;
}

#input-section {
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden;
    width: 100%;
}

#input-section input {
    color: #000;
    outline: none;
}

.send {
    background: transparent;
    border: 0;
    cursor: pointer;
    flex: 0 0 auto;
    margin-right: 0vw;
    padding: 0;
    position: relative;
    outline: none;
}
.send .circle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-lg{
    line-height: unset;
}

.fa-microphone-slash
{
    color: #c3c6d1;
}

.fa-microphone{
    color:#007ED9;
}
