<div class="chatbot-prompt">
    <div>
        <div class="chatbot-btn" (click)="toggleChatBot()">
            <i class="fa-regular fa-comment fa-flip-horizontal fa-lg"></i>
            <!-- <img src="./../assets/comment-regular-chatbot.svg" alt="" height="20px"> -->
            <span>ChatBot</span>
        </div>
    </div>
    <div *ngIf="showDiv" class="card msgWindow">
        <div class="card-header">
            <div class="q-left">
                <i class="fa-regular fa-circle-q fa-2xl"></i>
                <div class="q-title">Qonverse</div>
            </div>
            <i class="fa-regular fa-xmark fa-lg"></i>
        </div>
        <div class="q-conversation">
            <input type="text">
        </div>
        <div class="input-field">
            <input placeholder="Type your message here ..." type="text">
            <i class="fa-regular fa-paper-plane fa-lg pl-4"></i>
        </div>
    </div>
</div>